<table border="1" cellspacing="0" cellpadding="0">
    <!-- SERVICE_NAME -->
    <tr>
        <td align="right">
            service_name
        </td>
        <td align="left" port="PLUG_NODE-SERVICE_{{ service_name }}">
            {{ service_name }}
        </td>
    </tr>
    <!-- CONTAINER_NAME -->
    <tr>
        <td align="right">
            container_name
        </td>
        <td align="left">
            {{ container_name }}
        </td>
    </tr>
    <!-- HOSTNAME -->
    <tr>
        <td align="right">
            hostname
        </td>
        <td align="left">
            {{ hostname }}
        </td>
    </tr>
    <!-- DOMAINNAME -->
    <tr>
        <td align="right">
            domainname
        </td>
        <td align="left">
            {{ domainname }}
        </td>
    </tr>
    <!-- RESTART -->
    <tr>
        <td align="right">
            restart
        </td>
        <td align="left">
            {{ restart }}
        </td>
    </tr>
    <!-- IMAGE -->
    <tr>
        <td align="right">
            image
        </td>
        <td align="left">
            {{ image }}
        </td>
    </tr>
    <!-- COMMAND -->
    <tr>
        <td align="right">
            command (ENTRYPOINT +)
        </td>
        <td align="left">
            {{ command }}
        </td>
    </tr>
    <!-- HEALTHCHECK -->
    {% if healthcheck is not none %}
        <tr>
            <td align="right">
                healthcheck
            </td>
            <td align="left">
                {{ healthcheck }}
            </td>
        </tr>
    {% endif %}
    <!-- ENVIRONMENT -->
    {% if environment|length > 0 %}
        <tr>
            <td align="right">
                environment ({{ environment|length }})
            </td>
            <td align="left">
                <table border="1" cellspacing="0" cellpadding="0">
                    {% for key, value in environment.items() %}
                    <tr>
                        <td align="left">
                            {{ key }}={{ value }}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
    {% endif %}
    <!-- VOLUMES -->
    {% if volumes|length > 0 %}
        <tr>
            <td align="left">
                <table border="1" cellspacing="0" cellpadding="0">
                    {% for volume in volumes %}
                    <tr>
                        <td align="left" port="PLUG_{{ service_name }}__{{ volume.volume }}">
                            {{ volume.volume }}:{{ volume.mode }}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </td>
            <td align="left">
                volumes ({{ volumes|length }})
            </td>
        </tr>
    {% endif %}
    <!-- DEPENDS_ON -->
    {% if depends_on|length > 0 %}
        <tr>
            <td>
                <table border="1" cellspacing="0" cellpadding="0">
                    {% for key, value in depends_on.items() %}
                    <tr>
                        <td align="left" port="PLUG_DEPENDS_ON_NODE-SERVICE_{{ key }}">
                            {{ key }} (condition: {{ value.condition }})
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </td>
            <td align="left">
                depends_on ({{ depends_on|length }})
            </td>
        </tr>
    {% endif %}
    <!-- PORTS -->
    {% if ports|length > 0 %}
        <tr>
            <td align="left">
                <table border="1" cellspacing="0" cellpadding="0">
                    {% for port in ports %}
                    <tr>
                        {% set port_host, port_container = port.split(':') %}
                        <td align="left" port="PLUG_{{ service_name }}__{{ port_host }}__{{ port_container }}">
                            {{ port_host }} >> {{ port_container }}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </td>
            <td align="left">
                ports ({{ ports|length }})
            </td>
        </tr>
    {% endif %}
    <!-- NETWORKS -->
    {% if networks|length > 0 %}
        <tr>
            <td align="left">
                <table border="1" cellspacing="0" cellpadding="0">
                    {% for network in networks %}
                    <tr>
                        <td align="left" port="PLUG_{{ network }}">
                            {{ network }}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </td>
            <td align="left">
                networks ({{ networks|length }})
            </td>
        </tr>
    {% endif %}
</table>
